{% extends 'base.html.twig' %}

{% block title %}Serie
    {{ program.id }}
{% endblock %}

{% block body %}

    <div class>
        <h1>{{program.title}}
            - Season
            {{season.number}}</h1>
        <p>{{ program.synopsis }}</p>
        <p>Category :
            {{ program.category.name }}</p>

        <div>
            <ul>
            {% for episode in season.episodes %}
                <li>
                    <a href="{{ path("program_episode_show", {"program": program.id, "season": season.id, "episode":episode.id }) }}">  {{episode.number}} - <i>{{ episode.title }}</i></a>
                </li>

            {% endfor %}
            </ul>
            <a href="{{ path('program_index') }}">
                Retour à la liste des programmes
            </a>
        </div>
    </div>
{% endblock %}